.blog__body {
	padding: 80px 0 40px 0;
}

.blog__topics-nav {
	font-size: 40px;
	line-height: 1;
	font-family: $npt-light;
	margin: 0 11px;

  	@media (max-width: $break-large) {
		font-size: 26px;
		font-size: 1.625rem;
		line-height: 38px;
		line-height: 2.375rem;
	}

	ul {
	    @include display-flex;
        @include flex-flow(row wrap);

      	@media (max-width: $break-mob) {
      		@include flex-direction(column);
		}  
	}

	li {
		&:first-child a {
			padding-left: 0;
		}

		&:last-child a {
			padding-right: 0;
		}
	}

	a {
		padding: 0 24px;

      	@media (max-width: $break-mob) {
			padding: 5px 0;
		}  
	}
}

.typ-card__container,
.blog-card__container {
	@include display-flex;
	@include justify-content(flex-start);
	@include align-items(stretch);
	padding: 20px 0;
    @include flex-flow(row wrap);

	@media (max-width: $break-mob) {
		@include flex-direction(column);
	}
}

.blog-card__wrap,
.typ-card__wrap {
	margin: 40px 0;
	width: 33.3%;
	@include flex-grow(1);
	position: relative;
	max-width: 33.3%;
    display: flex;

	@media (max-width: $break-mob) {
		width: 100%;
		max-width: none;
		margin: 20px 0;
	}
}

.typ-card,
.blog-card {
	text-decoration: none;
	padding: 0 0 63px 0;
	background: $gray-0;
	margin: 0 11px;
	position: relative;
	width: 100%;

	@media (max-width: $break-mob) {
		margin: 0 0;
	    width: 100%;
	}

	&.blog-card--cta {
		background: $nokia-blue;

		* {
			color: $white;
		}

		&:hover {
			background: $white;
			border: 2px solid $nokia-blue;

			* {
				color: $nokia-blue;
			}
		}
	}

}

.typ-card__photo,
.blog-card__photo {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 210px;
	position: relative;

	@media (max-width: $break-mob) {
		height: 150px;
	}
}

.typ-card__content,
.blog-card__content {
    margin: 38px 0 0 0;
    padding: 0 32px;
    display: inline-block;
}

.arrow-link.icon-gray-2 {
    position: absolute;
    right: 12px;
    bottom: 12px;
    background: none;
    overflow: visible;
    height: 42px;
    width: 42px;
    padding: 0;

	&:before {
		content: "";
		background-image: url("//cdn2.hubspot.net/hubfs/2776717/icons/icons-gray_2-1.0.1.svg");
		background-position: 0 -48px;
		width: 41px;
		height: 41px;
		padding: 0;
		margin-top: 0;
		display: inline-block;
		vertical-align: middle;
	}

	&:hover {
		&:before {
			background-image: url("//cdn2.hubspot.net/hubfs/2776717/icons/icons-blue-1.0.1.svg");
		}
	}
}
