.fixed-cta {
	position: fixed;
	right: 0;
	bottom: 20px;
	margin-top: -21px;
	background: $nokia-blue;
	padding: 5px 15px 5px 30px;
	color: $white;
    z-index: 10;

    @media (max-width: $break-mob) {
		display: none;
    }
}