// need to go through all of these

.global-footer {
    padding-top: 50px;
    padding-bottom: 10px;

    @media (min-width: $break-med) {
        padding-bottom: 50px
    }
}

.global-footer h6 {
    font-family: $nph-regular;
    border-bottom: 1px solid $gray-2;
    padding-top: 10px;
    padding-bottom: 13px;
    text-align: left;

    @media (min-width: $break-med) {
        border-bottom: none
    }
}

.global-footer ul,
.global-footer li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.global-footer ul {
    display: none;

    @media (min-width: $break-med) {
        display: block;
    }
}
.global-footer .some {
    margin-top: 27px;
    text-align: center;

    @media (min-width: $break-med) {
        margin-top: 9px;
        text-align: right
    }
}

.global-footer .some a {
    margin-left: 8px;

    &:first-child {
        margin-left: 0
    }
}

.nokia-footer-block {
    font-size: 12px;
    font-size: .75rem;
    line-height: 15.6px;
    line-height: .975rem;
    color: #4d5766;

    a {
        color: #4d5766;

        &.language-link {
            padding: 25px 0;
            text-align: center;
            color: #124191;

            &:before {
                margin-right: 10px;
            }

            @media (min-width: $break-med) {
                text-align: right;
                padding: 4px 0;
            }
        }
    }
}

.nokia-footer-block .copyright,
.nokia-footer-block .footer-menu {
    text-align: center;
    padding-top: .85em;
}

.nokia-footer-block ul.menu {
    margin: 0 0 8px 0;
    padding: 0;

    li {
        display: inline;
        margin: 0 20px;
        padding: 0;

        a:hover {
            color: $nokia-blue;
        }
    }
}

@media (min-width: $break-med) {
    .nokia-footer-block {
        font-size: 14px;
        font-size: .875rem;
        line-height: 18.2px;
        line-height: 1.1375rem;
        margin-top: 25px;
    }

    .nokia-footer-block .footer-menu,
    .nokia-footer-block .copyright {
        text-align: left;
        padding: 0;
    }

    .nokia-footer-block .copyright,
    .nokia-footer-block .footer-menu {
        float: left;
        margin-top: 5px;
    }

    .nokia-footer-block .copyright {
        margin: 5px 20px 0;
    }
}

