// need to go through all of these

.global-footer {
    padding-top: 50px;
    padding-bottom: 10px;

    @media (min-width: $break-med) {
        padding-bottom: 50px
    }
}

.global-footer h6 {
    font-family: $nph-regular;
    padding-top: 10px;
    padding-bottom: 13px;
    text-align: left;

    @media (max-width: $break-mob) {
        border-bottom: 1px solid $gray-2;

        &.mobile-expand {
            &:after {
                background-image: url("//cdn2.hubspot.net/hubfs/2776717/icons/icons-gray_5-1.0.1.svg");
                @include transform(scale(0.8));
                top: -5px;
                position: relative;
                float: right;
                background-position: 0px -1908px;
                width: 36px;
                height: 36px;
                display: inline-block;
                vertical-align: middle;
                content: " ";
            }
            &.expanded {
                &:after {
                    @include transform(scale(0.8) rotate(45deg));
                }
            }
        }

    }
}

.global-footer ul,
.global-footer li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.global-footer ul {
    @media (min-width: $break-mob + 1) {
        display: block !important;
    }

    @media (max-width: $break-mob) {
        display: none;
    }
}
.global-footer .some {
    margin-top: 9px;
    text-align: right;

    @media (max-width: $break-mob) {
        margin-top: 27px;
        text-align: center;
    }
}

.global-footer .some a {
    margin-left: 8px;

    &:first-child {
        margin-left: 0
    }
}

.nokia-footer-block {
    font-size: 12px;
    font-size: .75rem;
    line-height: 15.6px;
    line-height: .975rem;
    color: #4d5766;
    margin-top: 25px;

    a {
        color: #4d5766;

        &.language-link {
            text-align: right;
            padding: 4px 0;
            color: #124191;

            &:before {
                margin-right: 10px;
            }

            @media (max-width: $break-mob) {
                padding: 25px 0;
                text-align: center;
            }
        }
    }
}

.nokia-footer-block .copyright,
.nokia-footer-block .footer-menu {
    text-align: center;
    padding-top: .85em;
}

.nokia-footer-block ul.menu {
    margin: 0 0 8px 0;
    padding: 0;

    li {
        display: inline;
        margin: 0 20px;
        padding: 0;

        a:hover {
            color: $nokia-blue;
        }
    }
}

.social__wrap {
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);

    @media (max-width: $break-mob) {
        padding: 20px 0 0 0;
    }
}

.icon__wrap {
    width: 50px;
    height: 50px;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
}

.icon--social {
    &:before {
        background-image: url("//cdn2.hubspot.net/hubfs/2776717/icons/icons-gray_5-1.0.1.svg");
        width: 25px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
        content: " ";
    }
}

.icon--facebook {
    &:before {
        background-position: 0 -1493px;
    }
}

.icon--twitter {
    &:before {
        background-position: 0 -2072px;
    }
}

.icon--linkedin {
    &:before {
        background-position: 0 -1615px;
    }
}

.icon--youtube {
    &:before {
        background-position: 0 -2125px;
        height: 12px;
    }
}

@media (min-width: $break-med) {
    .nokia-footer-block {
        font-size: 14px;
        font-size: .875rem;
        line-height: 18.2px;
        line-height: 1.1375rem;
    }

    .nokia-footer-block .footer-menu,
    .nokia-footer-block .copyright {
        text-align: left;
        padding: 0;
    }

    .nokia-footer-block .copyright,
    .nokia-footer-block .footer-menu {
        float: left;
        margin-top: 5px;
    }

    .nokia-footer-block .copyright {
        margin: 5px 20px 0;
    }
}

