button {
    min-width: 175px;
}

button,
.btn {
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    font-family: $nph-light;
    text-align: center;
    display: inline-block;
    background-color: transparent;
    width: auto;
    border: 1px solid $white;
    padding: 0 20px 0 20px;
    cursor: pointer;
    color: $white;
    line-height: 46px;
    -webkit-appearance: none;
    @include border-radius(0);

    &:after {
        content: "";
        background-position: 0 -125px;
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 0 4px 0;
        background-image: url("//cdn2.hubspot.net/hubfs/2776717/icons/icons-white-1.0.1.svg");
    }

    &:hover {
        background: $white;
        color: $blue-black;

        &:after {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            background-image: url("//cdn2.hubspot.net/hubfs/2776717/icons/icons-gray_5-1.0.1.svg")
        }
    }

    &.btn--dark {
        border: 1px solid $blue-black;
        color: $blue-black;

        &:after {
            background-image: url("//cdn2.hubspot.net/hubfs/2776717/icons/icons-gray_5-1.0.1.svg");
        }

        &:hover {
            background: $blue-black;
            color: $white;

            &:after {
                background-image: url("//cdn2.hubspot.net/hubfs/2776717/icons/icons-white-1.0.1.svg")
            }
        }
    }
}

@mixin arrow-after {
    &:after {
        display: inline-block;
        vertical-align: middle;
        content: " "; 
        background-position: 0 -125px;
        width: 24px;
        height: 24px;
        margin-left: 8px;
        top: -3px;
        position: relative;
        display: inline-block;
    }
}

@mixin blue-arrow-after {
    @include arrow-after;
    &:after {
        background-image: url("//cdn2.hubspot.net/hubfs/2776717/icons/icons-blue-1.0.1.svg");
    }
}

@mixin white-arrow-after {
    @include arrow-after;
    &:after {
        background-image: url("//cdn2.hubspot.net/hubfs/2776717/icons/icons-white-1.0.1.svg");
    }
}