@font-face {
    font-family: "NokiaPureText-Regular";
    src: url(//cdn2.hubspot.net/hubfs/2776717/fonts/NokiaPureText-Regular.ttf) format("truetype");
}

$npt-regular: "NokiaPureText-Regular", Arial, Helvetica, sans-serif;

@font-face {
    font-family: "NokiaPureText-Light";
    src: url(//cdn2.hubspot.net/hubfs/2776717/fonts/NokiaPureText-Light.ttf) format("truetype");
}

$npt-light: "NokiaPureText-Light", Arial, Helvetica, sans-serif;

@font-face {
    font-family: "NokiaPureHeadline_Regular";
    src: url(https://cdn2.hubspot.net/hubfs/2776717/fonts/NokiaPureHeadline_Regular.ttf) format("truetype");
}

$nph-regular: "NokiaPureHeadline_Regular", Arial, Helvetica, sans-serif;

@font-face {
    font-family: "NokiaPureHeadline_Light";
    src: url(https://cdn2.hubspot.net/hubfs/2776717/fonts/NokiaPureHeadline_Light.ttf) format("truetype");
}

$nph-light: "NokiaPureHeadline_Light", Arial, Helvetica, sans-serif;



body {
    font-size: 16px;
    font-size: 1rem;
    line-height: 32px;
    line-height: 2rem;
    font-family: $npt-light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $gray-5;

    @media (min-width: 800px) {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 32px;
        line-height: 2rem
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $npt-light;
    // margin: 0.2em 0;
    margin: 1em 0 0.2em;
    font-weight: normal;
    color: $nokia-blue;
}

h1 {
    font-size: 42px;
    font-size: 2.625rem;
    line-height: 52px;
    line-height: 3.25rem;

    @media (min-width: 600px) {
        font-size: 52px;
        font-size: 3.25rem;
        line-height: 62px;
        line-height: 3.875rem;
    }

    @media (min-width: 800px) {
        font-size: 64px;
        font-size: 4rem;
        line-height: 74px;
        line-height: 4.625rem;
    }
}

@mixin h2-styles {
    font-size: 32px;
    font-size: 2rem;
    line-height: 44px;
    line-height: 2.75rem;

    @media (min-width: 600px) {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 47px;
        line-height: 2.9375rem;
    }

    @media (min-width: 800px) {
        font-size: 48px;
        font-size: 3rem;
        line-height: 60px;
        line-height: 3.75rem;
    }
}

h2 {
    @include h2-styles;
}

h3 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 38px;
    line-height: 2.375rem;

    @media (min-width: 800px) {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 48px;
        line-height: 3rem;
    }
}

h4 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 32px;
    line-height: 2rem;
    font-family: $npt-light;
    color: $gray-4;

    @media (min-width: 1160px) {
        font-size: 26px;
        font-size: 1.625rem;
        line-height: 38px;
        line-height: 2.375rem;
    }
}

h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    font-family: $npt-light;

    @media (min-width: 1160px) {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 28px;
        line-height: 1.75rem;
    }
}

h6 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    font-family: $npt-light;
    color: $gray-4;
}

.form-errors {
    color: $red; // used to be #ff0000
}

.super {
    font-size: 120px;
    font-size: 7.5rem;
    line-height: 120px;
    line-height: 7.5rem;
    font-family: $npt-light;
    margin: 0.2em 0;
    font-weight: normal;
    color: $nokia-blue;

    @media (min-width: 800px) {
        .super {
            font-size: 250px;
            font-size: 15.625rem;
            line-height: 250px;
            line-height: 15.625rem
        }
    }
    @media (min-width: 1160px) {
        .super {
            font-size: 323px;
            font-size: 20.1875rem;
            line-height: 323px;
            line-height: 20.1875rem
        }
    }
}

.xxl-size {
    font-size: 120px;
    font-size: 7.5rem;
    line-height: 120px;
    line-height: 7.5rem;
    font-family: $npt-light;
    margin: 0.2em 0;
    font-weight: normal;
    color: $nokia-blue;

    @media (min-width: 1160px) {
        .xxl-size {
            font-size: 140px;
            font-size: 8.75rem;
            line-height: 140px;
            line-height: 8.75rem
        }
    }
}

.xl-size {
    font-size: 32px;
    font-size: 2rem;
    line-height: 44px;
    line-height: 2.75rem;

    @media (min-width: 600px) {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 47px;
        line-height: 2.9375rem;
    }

    @media (min-width: 800px) {
        font-size: 48px;
        font-size: 3rem;
        line-height: 60px;
        line-height: 3.75rem;
    }
}

.ll-size {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 46px;
    line-height: 2.875rem;
    font-family: $npt-light;

    @media (max-width: $break-large) {
        font-size: 22px;
        font-size: 1.375rem;
        line-height: 32px;
        line-height: 2rem;
    }
}

.l-size {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 32px;
    line-height: 2rem;
    font-family: $npt-light;
}

.m-size {
    font-size: 16px;
    font-size: 1rem;
    line-height: 32px;
    line-height: 2rem;

    @media (min-width: 800px) {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 32px;
        line-height: 2rem;
    }
}

.xs-size {
    font-size: 10px;
    font-size: .625rem;
    line-height: 26px;
    line-height: 1.625rem;
}

.ingress,
.large {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 32px;
    line-height: 2rem;
    font-family: $npt-light;

    @media (min-width: 800px) {
        font-size: 22px;
        font-size: 1.375rem;
        line-height: 36px;
        line-height: 2.25rem;
    }
}

.small {
    font-size: 12px;
    font-size: .75rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-family: $npt-light

    p {
        margin: 0.2em 0
    }

    @media (min-width: 800px) {
        .small {
            font-size: 14px;
            font-size: .875rem;
            line-height: 26px;
            line-height: 1.625rem
        }
    }
}

.label,
.date {
    font-family: $npt-light;
    font-size: 16px;
    font-size: 1rem;
    line-height: 28px;
    line-height: 1.75rem;
    color: $gray-4;
}

.label {
    margin: 1em 0;
}

.date {
    color: $gray-3;
}

.timestamp {
    font-family: $npt-regular;
}

.caption {
    font-size: 12px;
    font-size: .75rem;
    line-height: 24px;
    line-height: 1.5rem;
    color: $gray-4;
}

a {
    text-decoration: none;
    color: $nokia-blue;

    &.action {
        font-family: $npt-regular;
    }

    &:hover {
        color: $gray-2;
    }

    &:active {
        color: $light-blue;
    }
}

.body a {
    font-family: $npt-regular;
}

.body .bg-dark a,
.body .bg-gray-5 a {
    color: $gray-2;
}

.body .bg-dark a:hover,
.body .bg-gray-5 a:hover {
    color: $white;
}

.body .bg-dark a:active,
.body .bg-gray-5 a:active {
    color: $light-blue;
}

b,
strong {
    font-family: $npt-regular;
    font-weight: normal;
}

em {
    font-style: italic;
}

p {
    margin: 1em 0;
}
