@font-face {
    font-family: "NokiaPureText-Regular";
    src: url(//cdn2.hubspot.net/hubfs/2776717/fonts/NokiaPureText-Regular.ttf) format("truetype");
}

$npt-regular: "NokiaPureText-Regular", Arial, Helvetica, sans-serif;

@font-face {
    font-family: "NokiaPureText-Light";
    src: url(//cdn2.hubspot.net/hubfs/2776717/fonts/NokiaPureText-Light.ttf) format("truetype");
}

$npt-light: "NokiaPureText-Light", Arial, Helvetica, sans-serif;

@font-face {
    font-family: "NokiaPureHeadline_Regular";
    src: url(https://cdn2.hubspot.net/hubfs/2776717/fonts/NokiaPureHeadline_Regular.ttf) format("truetype");
}

$nph-regular: "NokiaPureHeadline_Light", Arial, Helvetica, sans-serif;

@font-face {
    font-family: "NokiaPureHeadline_Light";
    src: url(https://cdn2.hubspot.net/hubfs/2776717/fonts/NokiaPureHeadline_Light.ttf) format("truetype");
}

$nph-light: "NokiaPureHeadline_Light", Arial, Helvetica, sans-serif;



body {
    font-size: 16px;
    font-size: 1rem;
    line-height: 32px;
    line-height: 2rem;
    font-family: $npt-light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $gray-5;

    @media (min-width: 800px) {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 32px;
        line-height: 2rem
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $npt-light;
    margin: 0.2em 0;
    font-weight: normal;
    color: $nokia-blue;
}

h1 {
    font-size: 42px;
    font-size: 2.625rem;
    line-height: 52px;
    line-height: 3.25rem;

    @media (min-width: 600px) {
        font-size: 52px;
        font-size: 3.25rem;
        line-height: 62px;
        line-height: 3.875rem;
    }

    @media (min-width: 800px) {
        font-size: 64px;
        font-size: 4rem;
        line-height: 74px;
        line-height: 4.625rem;
    }
}

h2 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 44px;
    line-height: 2.75rem;

    @media (min-width: 600px) {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 47px;
        line-height: 2.9375rem;
    }

    @media (min-width: 800px) {
        font-size: 48px;
        font-size: 3rem;
        line-height: 60px;
        line-height: 3.75rem;
    }
}

h3 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 38px;
    line-height: 2.375rem;

    @media (min-width: 800px) {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 48px;
        line-height: 3rem;
    }
}

h4 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 32px;
    line-height: 2rem;
    font-family: $npt-light;
    color: $gray-4;

    @media (min-width: 1160px) {
        font-size: 26px;
        font-size: 1.625rem;
        line-height: 38px;
        line-height: 2.375rem;
    }
}

h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    font-family: $npt-light;

    @media (min-width: 1160px) {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 28px;
        line-height: 1.75rem;
    }
}

h6 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    font-family: $npt-light;
    color: $gray-4;
}

.form-errors {
    color: $red; // used to be #ff0000
}

.super {
    font-size: 120px;
    font-size: 7.5rem;
    line-height: 120px;
    line-height: 7.5rem;
    font-family: $npt-light;
    margin: 0.2em 0;
    font-weight: normal;
    color: $nokia-blue;

    @media (min-width: 800px) {
        .super {
            font-size: 250px;
            font-size: 15.625rem;
            line-height: 250px;
            line-height: 15.625rem
        }
    }
    @media (min-width: 1160px) {
        .super {
            font-size: 323px;
            font-size: 20.1875rem;
            line-height: 323px;
            line-height: 20.1875rem
        }
    }
}

.xxl-size {
    font-size: 120px;
    font-size: 7.5rem;
    line-height: 120px;
    line-height: 7.5rem;
    font-family: $npt-light;
    margin: 0.2em 0;
    font-weight: normal;
    color: $nokia-blue;

    @media (min-width: 1160px) {
        .xxl-size {
            font-size: 140px;
            font-size: 8.75rem;
            line-height: 140px;
            line-height: 8.75rem
        }
    }
}

.xl-size {
    font-size: 32px;
    font-size: 2rem;
    line-height: 44px;
    line-height: 2.75rem;

    @media (min-width: 600px) {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 47px;
        line-height: 2.9375rem;
    }

    @media (min-width: 800px) {
        font-size: 48px;
        font-size: 3rem;
        line-height: 60px;
        line-height: 3.75rem;
    }
}

.ll-size {

    font-size: 36px;
    font-size: 2.25rem;
    line-height: 46px;
    line-height: 2.875rem;
    // font-size: 48px;
    // font-size: 1.375rem;
    // line-height: 32px;
    // line-height: 2rem;
    font-family: $npt-light;

    // @media (min-width: 800px) {
    //     font-size: 36px;
    //     font-size: 2.25rem;
    //     line-height: 46px;
    //     line-height: 2.875rem;
    // }

    @media (max-width: $break-large) {
        font-size: 22px;
        font-size: 1.375rem;
        line-height: 32px;
        line-height: 2rem;
    }
}

.l-size {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 32px;
    line-height: 2rem;
    font-family: $npt-light;

    @media (min-width: 800px) {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 46px;
        line-height: 2.875rem;
    }
}

.m-size {
    font-size: 16px;
    font-size: 1rem;
    line-height: 32px;
    line-height: 2rem;

    @media (min-width: 800px) {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 32px;
        line-height: 2rem;
    }
}

.xs-size {
    font-size: 10px;
    font-size: .625rem;
    line-height: 26px;
    line-height: 1.625rem;
}

.ingress,
.large {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 32px;
    line-height: 2rem;
    font-family: $npt-light;

    @media (min-width: 800px) {
        font-size: 22px;
        font-size: 1.375rem;
        line-height: 36px;
        line-height: 2.25rem;
    }
}

.small {
    font-size: 12px;
    font-size: .75rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-family: $npt-light

    p {
        margin: 0.2em 0
    }

    @media (min-width: 800px) {
        .small {
            font-size: 14px;
            font-size: .875rem;
            line-height: 26px;
            line-height: 1.625rem
        }
    }
}

.label,
.date {
    font-family: $npt-light;
    font-size: 16px;
    font-size: 1rem;
    line-height: 28px;
    line-height: 1.75rem;
    color: $gray-4;
}

.label {
    margin: 1em 0;
}

.date {
    color: $gray-3;
}

.timestamp {
    font-family: $npt-regular;
}

.caption {
    font-size: 12px;
    font-size: .75rem;
    line-height: 24px;
    line-height: 1.5rem;
    color: $gray-4;
}

a {
    text-decoration: none;
    color: $nokia-blue;

    &.action {
        font-family: $npt-regular;
    }

    &:hover {
        color: $gray-2;
    }

    &:active {
        color: $light-blue;
    }
}

.body a {
    font-family: $npt-regular;
}

.body .bg-dark a,
.body .bg-gray-5 a {
    color: $gray-2;
}

.body .bg-dark a:hover,
.body .bg-gray-5 a:hover {
    color: $white;
}

.body .bg-dark a:active,
.body .bg-gray-5 a:active {
    color: $light-blue;
}

b,
strong {
    font-family: $npt-regular;
    font-weight: normal;
}

p {
    // font-size: 20px;
    // font-size: 1.25rem;
    // line-height: 40px;
    // line-height: 2.5rem;
    margin: 1em 0;
    // display: inline-block;
}

// .read-more:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .read-more.icon-white:before,
// .read-more.arrow-link.icon-white:hover:before,
// .text-white.banner a.read-more:before,
// .banner .copy a.read-more:before,
// .link_block-hero .read-more.icon-arrow-right:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading a.read-more:hover:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading .link_block-hero a.read-more:hover:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li a.read-more:hover:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li .link_block-hero a.read-more:hover:before,
// .link_block-hero .read-more.cta-link:before {
//     background-image: url("../../../images/components/icons/sprites/icons-whitebad1.svg?v=1.93")
// }
// .read-more.icon-black:before,
// .text-black.banner a.read-more:before,
// .text-blue-black.banner a.read-more:before,
// .banner-headline h5 a.read-more:before,
// .sharethis-wrapper span.read-more:active:before {
//     background-image: url("../../../images/components/icons/sprites/icons-blackbad1.svg?v=1.93")
// }
// .read-more.icon-blue-black:before {
//     background-image: url("../../../images/components/icons/sprites/icons-blue_blackbad1.svg?v=1.93")
// }
// .read-more.icon-gray-0:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_0bad1.svg?v=1.93")
// }
// .read-more.icon-gray-1:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_1bad1.svg?v=1.93")
// }
// .read-more.icon-gray-2:before,
// .news-teaser .read-more.arrow-link:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .read-more.icon-gray-3:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_3bad1.svg?v=1.93")
// }
// .read-more.icon-gray-4:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_4bad1.svg?v=1.93")
// }
// .read-more.icon-gray-5:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_5bad1.svg?v=1.93")
// }
// .read-more.icon-gray2:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .read-more.icon-light-blue:before,
// .read-more.arrow-link.icon-white:active:before,
// .text-white.banner a.read-more.arrow-link:active:before,
// .banner .copy a.read-more.arrow-link:active:before,
// .link_block-hero .read-more.arrow-link.icon-arrow-right:active:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading a.read-more.arrow-link:hover:active:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading .link_block-hero a.read-more.arrow-link:hover:active:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li a.read-more.arrow-link:hover:active:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li .link_block-hero a.read-more.arrow-link:hover:active:before,
// .link_block-hero .read-more.arrow-link.cta-link:active:before {
//     background-image: url("../../../images/components/icons/sprites/icons-light_bluebad1.svg?v=1.93")
// }
// .read-more.icon-blue:before {
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .read-more:before {
//     background-position: 0 -233px;
//     width: 24px;
//     height: 24px
// }
// .forward:after {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .forward.icon-white:after,
// .forward.arrow-link.icon-white:hover:after,
// .text-white.banner a.forward:after,
// .banner .copy a.forward:after,
// .link_block-hero .forward.icon-arrow-right:after,
// .link_block-hero .forward.cta-link:after {
//     background-image: url("../../../images/components/icons/sprites/icons-whitebad1.svg?v=1.93")
// }
// .forward.icon-black:after,
// .text-black.banner a.forward:after,
// .text-blue-black.banner a.forward:after,
// .banner-headline h5 a.forward:after,
// .sharethis-wrapper span.forward:active:after {
//     background-image: url("../../../images/components/icons/sprites/icons-blackbad1.svg?v=1.93")
// }
// .forward.icon-blue-black:after {
//     background-image: url("../../../images/components/icons/sprites/icons-blue_blackbad1.svg?v=1.93")
// }
// .forward.icon-gray-0:after {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_0bad1.svg?v=1.93")
// }
// .forward.icon-gray-1:after {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_1bad1.svg?v=1.93")
// }
// .forward.icon-gray-2:after,
// .news-teaser .forward.arrow-link:after {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .forward.icon-gray-3:after {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_3bad1.svg?v=1.93")
// }
// .forward.icon-gray-4:after {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_4bad1.svg?v=1.93")
// }
// .forward.icon-gray-5:after {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_5bad1.svg?v=1.93")
// }
// .forward.icon-gray2:after {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .forward.icon-light-blue:after,
// .forward.arrow-link.icon-white:active:after,
// .text-white.banner a.forward.arrow-link:active:after,
// .banner .copy a.forward.arrow-link:active:after,
// .link_block-hero .forward.arrow-link.icon-arrow-right:active:after,
// .link_block-hero .forward.arrow-link.cta-link:active:after {
//     background-image: url("../../../images/components/icons/sprites/icons-light_bluebad1.svg?v=1.93")
// }
// .forward.icon-blue:after {
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .forward:after {
//     background-position: 0 -77px;
//     width: 24px;
//     height: 24px
// }
// .cta-link {
//     color: #124191
// }
// .cta-link:hover {
//     color: #124191
// }
// .cta-link:hover:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-whitebad1.svg?v=1.93")
// }
// .cta-link:hover:before {
//     background-color: #124191;
//     border-radius: 12px
// }
// .cta-link:active,
// .cta-link:focus:active {
//     color: #000
// }
// .cta-link:active:before,
// .cta-link:focus:active:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-whitebad1.svg?v=1.93")
// }
// .cta-link:active:before,
// .cta-link:focus:active:before {
//     background-color: #273142;
//     border-radius: 12px
// }
// .cta-link:disabled,
// .cta-link.disabled,
// .cta-link:disabled:active,
// .cta-link.disabled:active {
//     color: #bec8d2
// }
// .cta-link:disabled:before,
// .cta-link.disabled:before,
// .cta-link:disabled:active:before,
// .cta-link.disabled:active:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .cta-link:disabled:before,
// .cta-link.disabled:before,
// .cta-link:disabled:active:before,
// .cta-link.disabled:active:before {
//     background-color: transparent;
//     border-radius: 0
// }
// .back:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .back.icon-white:before,
// .back.arrow-link.icon-white:hover:before,
// .text-white.banner a.back:before,
// .banner .copy a.back:before,
// .link_block-hero .back.icon-arrow-right:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading a.back:hover:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading .link_block-hero a.back:hover:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li a.back:hover:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li .link_block-hero a.back:hover:before,
// .link_block-hero .back.cta-link:before {
//     background-image: url("../../../images/components/icons/sprites/icons-whitebad1.svg?v=1.93")
// }
// .back.icon-black:before,
// .text-black.banner a.back:before,
// .text-blue-black.banner a.back:before,
// .banner-headline h5 a.back:before,
// .sharethis-wrapper span.back:active:before {
//     background-image: url("../../../images/components/icons/sprites/icons-blackbad1.svg?v=1.93")
// }
// .back.icon-blue-black:before {
//     background-image: url("../../../images/components/icons/sprites/icons-blue_blackbad1.svg?v=1.93")
// }
// .back.icon-gray-0:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_0bad1.svg?v=1.93")
// }
// .back.icon-gray-1:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_1bad1.svg?v=1.93")
// }
// .back.icon-gray-2:before,
// .news-teaser .back.arrow-link:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .back.icon-gray-3:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_3bad1.svg?v=1.93")
// }
// .back.icon-gray-4:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_4bad1.svg?v=1.93")
// }
// .back.icon-gray-5:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_5bad1.svg?v=1.93")
// }
// .back.icon-gray2:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .back.icon-light-blue:before,
// .back.arrow-link.icon-white:active:before,
// .text-white.banner a.back.arrow-link:active:before,
// .banner .copy a.back.arrow-link:active:before,
// .link_block-hero .back.arrow-link.icon-arrow-right:active:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading a.back.arrow-link:hover:active:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading .link_block-hero a.back.arrow-link:hover:active:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li a.back.arrow-link:hover:active:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li .link_block-hero a.back.arrow-link:hover:active:before,
// .link_block-hero .back.arrow-link.cta-link:active:before {
//     background-image: url("../../../images/components/icons/sprites/icons-light_bluebad1.svg?v=1.93")
// }
// .back.icon-blue:before {
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .back:before {
//     background-position: 0 -209px;
//     width: 24px;
//     height: 24px
// }
// .download:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .download.icon-white:before,
// .download.arrow-link.icon-white:hover:before,
// .text-white.banner a.download:before,
// .banner .copy a.download:before,
// .link_block-hero .download.icon-arrow-right:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading a.download:hover:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading .link_block-hero a.download:hover:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li a.download:hover:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li .link_block-hero a.download:hover:before,
// .link_block-hero .download.cta-link:before {
//     background-image: url("../../../images/components/icons/sprites/icons-whitebad1.svg?v=1.93")
// }
// .download.icon-black:before,
// .text-black.banner a.download:before,
// .text-blue-black.banner a.download:before,
// .banner-headline h5 a.download:before,
// .sharethis-wrapper span.download:active:before {
//     background-image: url("../../../images/components/icons/sprites/icons-blackbad1.svg?v=1.93")
// }
// .download.icon-blue-black:before {
//     background-image: url("../../../images/components/icons/sprites/icons-blue_blackbad1.svg?v=1.93")
// }
// .download.icon-gray-0:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_0bad1.svg?v=1.93")
// }
// .download.icon-gray-1:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_1bad1.svg?v=1.93")
// }
// .download.icon-gray-2:before,
// .news-teaser .download.arrow-link:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .download.icon-gray-3:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_3bad1.svg?v=1.93")
// }
// .download.icon-gray-4:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_4bad1.svg?v=1.93")
// }
// .download.icon-gray-5:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_5bad1.svg?v=1.93")
// }
// .download.icon-gray2:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .download.icon-light-blue:before,
// .download.arrow-link.icon-white:active:before,
// .text-white.banner a.download.arrow-link:active:before,
// .banner .copy a.download.arrow-link:active:before,
// .link_block-hero .download.arrow-link.icon-arrow-right:active:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading a.download.arrow-link:hover:active:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading .link_block-hero a.download.arrow-link:hover:active:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li a.download.arrow-link:hover:active:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li .link_block-hero a.download.arrow-link:hover:active:before,
// .link_block-hero .download.arrow-link.cta-link:active:before {
//     background-image: url("../../../images/components/icons/sprites/icons-light_bluebad1.svg?v=1.93")
// }
// .download.icon-blue:before {
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .download:before {
//     background-position: 0 -1426px;
//     width: 24px;
//     height: 24px
// }
// .view:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .view.icon-white:before,
// .view.arrow-link.icon-white:hover:before,
// .text-white.banner a.view:before,
// .banner .copy a.view:before,
// .link_block-hero .view.icon-arrow-right:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading a.view:hover:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading .link_block-hero a.view:hover:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li a.view:hover:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li .link_block-hero a.view:hover:before,
// .link_block-hero .view.cta-link:before {
//     background-image: url("../../../images/components/icons/sprites/icons-whitebad1.svg?v=1.93")
// }
// .view.icon-black:before,
// .text-black.banner a.view:before,
// .text-blue-black.banner a.view:before,
// .banner-headline h5 a.view:before,
// .sharethis-wrapper span.view:active:before {
//     background-image: url("../../../images/components/icons/sprites/icons-blackbad1.svg?v=1.93")
// }
// .view.icon-blue-black:before {
//     background-image: url("../../../images/components/icons/sprites/icons-blue_blackbad1.svg?v=1.93")
// }
// .view.icon-gray-0:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_0bad1.svg?v=1.93")
// }
// .view.icon-gray-1:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_1bad1.svg?v=1.93")
// }
// .view.icon-gray-2:before,
// .news-teaser .view.arrow-link:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .view.icon-gray-3:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_3bad1.svg?v=1.93")
// }
// .view.icon-gray-4:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_4bad1.svg?v=1.93")
// }
// .view.icon-gray-5:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_5bad1.svg?v=1.93")
// }
// .view.icon-gray2:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .view.icon-light-blue:before,
// .view.arrow-link.icon-white:active:before,
// .text-white.banner a.view.arrow-link:active:before,
// .banner .copy a.view.arrow-link:active:before,
// .link_block-hero .view.arrow-link.icon-arrow-right:active:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading a.view.arrow-link:hover:active:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading .link_block-hero a.view.arrow-link:hover:active:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li a.view.arrow-link:hover:active:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li .link_block-hero a.view.arrow-link:hover:active:before,
// .link_block-hero .view.arrow-link.cta-link:active:before {
//     background-image: url("../../../images/components/icons/sprites/icons-light_bluebad1.svg?v=1.93")
// }
// .view.icon-blue:before {
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .view:before {
//     background-position: 0 -1866px;
//     width: 24px;
//     height: 24px
// }
// .preview:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .preview.icon-white:before,
// .preview.arrow-link.icon-white:hover:before,
// .text-white.banner a.preview:before,
// .banner .copy a.preview:before,
// .link_block-hero .preview.icon-arrow-right:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading a.preview:hover:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading .link_block-hero a.preview:hover:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li a.preview:hover:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li .link_block-hero a.preview:hover:before,
// .link_block-hero .preview.cta-link:before {
//     background-image: url("../../../images/components/icons/sprites/icons-whitebad1.svg?v=1.93")
// }
// .preview.icon-black:before,
// .text-black.banner a.preview:before,
// .text-blue-black.banner a.preview:before,
// .banner-headline h5 a.preview:before,
// .sharethis-wrapper span.preview:active:before {
//     background-image: url("../../../images/components/icons/sprites/icons-blackbad1.svg?v=1.93")
// }
// .preview.icon-blue-black:before {
//     background-image: url("../../../images/components/icons/sprites/icons-blue_blackbad1.svg?v=1.93")
// }
// .preview.icon-gray-0:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_0bad1.svg?v=1.93")
// }
// .preview.icon-gray-1:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_1bad1.svg?v=1.93")
// }
// .preview.icon-gray-2:before,
// .news-teaser .preview.arrow-link:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .preview.icon-gray-3:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_3bad1.svg?v=1.93")
// }
// .preview.icon-gray-4:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_4bad1.svg?v=1.93")
// }
// .preview.icon-gray-5:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_5bad1.svg?v=1.93")
// }
// .preview.icon-gray2:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .preview.icon-light-blue:before,
// .preview.arrow-link.icon-white:active:before,
// .text-white.banner a.preview.arrow-link:active:before,
// .banner .copy a.preview.arrow-link:active:before,
// .link_block-hero .preview.arrow-link.icon-arrow-right:active:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading a.preview.arrow-link:hover:active:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading .link_block-hero a.preview.arrow-link:hover:active:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li a.preview.arrow-link:hover:active:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li .link_block-hero a.preview.arrow-link:hover:active:before,
// .link_block-hero .preview.arrow-link.cta-link:active:before {
//     background-image: url("../../../images/components/icons/sprites/icons-light_bluebad1.svg?v=1.93")
// }
// .preview.icon-blue:before {
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .preview:before {
//     background-position: 0 -1866px;
//     width: 24px;
//     height: 24px
// }
// .calendar:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .calendar.icon-white:before,
// .calendar.arrow-link.icon-white:hover:before,
// .text-white.banner a.calendar:before,
// .banner .copy a.calendar:before,
// .link_block-hero .calendar.icon-arrow-right:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading a.calendar:hover:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading .link_block-hero a.calendar:hover:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li a.calendar:hover:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li .link_block-hero a.calendar:hover:before,
// .link_block-hero .calendar.cta-link:before {
//     background-image: url("../../../images/components/icons/sprites/icons-whitebad1.svg?v=1.93")
// }
// .calendar.icon-black:before,
// .text-black.banner a.calendar:before,
// .text-blue-black.banner a.calendar:before,
// .banner-headline h5 a.calendar:before,
// .sharethis-wrapper span.calendar:active:before {
//     background-image: url("../../../images/components/icons/sprites/icons-blackbad1.svg?v=1.93")
// }
// .calendar.icon-blue-black:before {
//     background-image: url("../../../images/components/icons/sprites/icons-blue_blackbad1.svg?v=1.93")
// }
// .calendar.icon-gray-0:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_0bad1.svg?v=1.93")
// }
// .calendar.icon-gray-1:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_1bad1.svg?v=1.93")
// }
// .calendar.icon-gray-2:before,
// .news-teaser .calendar.arrow-link:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .calendar.icon-gray-3:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_3bad1.svg?v=1.93")
// }
// .calendar.icon-gray-4:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_4bad1.svg?v=1.93")
// }
// .calendar.icon-gray-5:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_5bad1.svg?v=1.93")
// }
// .calendar.icon-gray2:before {
//     background-image: url("../../../images/components/icons/sprites/icons-gray_2bad1.svg?v=1.93")
// }
// .calendar.icon-light-blue:before,
// .calendar.arrow-link.icon-white:active:before,
// .text-white.banner a.calendar.arrow-link:active:before,
// .banner .copy a.calendar.arrow-link:active:before,
// .link_block-hero .calendar.arrow-link.icon-arrow-right:active:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading a.calendar.arrow-link:hover:active:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header .opened-heading .link_block-hero a.calendar.arrow-link:hover:active:before,
// .link_block-hero body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li a.calendar.arrow-link:hover:active:before,
// body:not(.nokia-user-experience-guide).desktop-nav-open .layout-container .site-main-header ul li ul li .link_block-hero a.calendar.arrow-link:hover:active:before,
// .link_block-hero .calendar.arrow-link.cta-link:active:before {
//     background-image: url("../../../images/components/icons/sprites/icons-light_bluebad1.svg?v=1.93")
// }
// .calendar.icon-blue:before {
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .calendar:before {
//     background-position: 0 -101px;
//     width: 36px;
//     height: 36px
// }
// .intro {
//     font-family: $npt-light;
//     font-size: 16px;
//     font-size: 1rem;
//     line-height: 32px;
//     line-height: 2rem
// }
// @media (min-width: 800px) {
//     .intro {
//         font-size: 18px;
//         font-size: 1.125rem;
//         line-height: 32px;
//         line-height: 2rem
//     }
// }
// hr {
//     display: block;
//     height: 0;
//     border: 0;
//     border-top: 1px solid #bec8d2;
//     margin: 1em 0;
//     padding: 0;
//     background-color: #bec8d2;
//     color: #bec8d2
// }
// .bg-gray-5,
// .bg-dark {
//     color: #fff
// }
// .bg-gray-5 .cta-link,
// .bg-dark .cta-link {
//     color: #fff
// }
// .bg-gray-5 .cta-link:before,
// .bg-dark .cta-link:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-whitebad1.svg?v=1.93")
// }
// .bg-gray-5 .cta-link:hover:before,
// .bg-dark .cta-link:hover:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-bluebad1.svg?v=1.93")
// }
// .bg-gray-5 .cta-link:hover:before,
// .bg-dark .cta-link:hover:before {
//     background-color: #fff;
//     border-radius: 12px
// }
// .bg-gray-5 .cta-link:active,
// .bg-gray-5 .cta-link:focus:active,
// .bg-dark .cta-link:active,
// .bg-dark .cta-link:focus:active {
//     color: #fff
// }
// .bg-gray-5 .cta-link:active:before,
// .bg-gray-5 .cta-link:focus:active:before,
// .bg-dark .cta-link:active:before,
// .bg-dark .cta-link:focus:active:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-whitebad1.svg?v=1.93")
// }
// .bg-gray-5 .cta-link:active:before,
// .bg-gray-5 .cta-link:focus:active:before,
// .bg-dark .cta-link:active:before,
// .bg-dark .cta-link:focus:active:before {
//     background-color: #00c9ff;
//     border-radius: 12px
// }
// .bg-gray-5 .cta-link:disabled,
// .bg-gray-5 .cta-link.disabled,
// .bg-gray-5 .cta-link:disabled:active,
// .bg-gray-5 .cta-link.disabled:active,
// .bg-dark .cta-link:disabled,
// .bg-dark .cta-link.disabled,
// .bg-dark .cta-link:disabled:active,
// .bg-dark .cta-link.disabled:active {
//     color: #4d5766
// }
// .bg-gray-5 .cta-link:disabled:before,
// .bg-gray-5 .cta-link.disabled:before,
// .bg-gray-5 .cta-link:disabled:active:before,
// .bg-gray-5 .cta-link.disabled:active:before,
// .bg-dark .cta-link:disabled:before,
// .bg-dark .cta-link.disabled:before,
// .bg-dark .cta-link:disabled:active:before,
// .bg-dark .cta-link.disabled:active:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     background-image: url("../../../images/components/icons/sprites/icons-gray_4bad1.svg?v=1.93")
// }
// .bg-gray-5 .cta-link:disabled:before,
// .bg-gray-5 .cta-link.disabled:before,
// .bg-gray-5 .cta-link:disabled:active:before,
// .bg-gray-5 .cta-link.disabled:active:before,
// .bg-dark .cta-link:disabled:before,
// .bg-dark .cta-link.disabled:before,
// .bg-dark .cta-link:disabled:active:before,
// .bg-dark .cta-link.disabled:active:before {
//     background-color: transparent;
//     border-radius: 0
// }
// .embed-video {
//     overflow: hidden;
//     *zoom: 1;
//     clear: both;
//     position: relative
// }
// .embed-video h2 {
//     clear: both;
//     padding-top: 15px;
//     margin: 0
// }
// @media (min-width: 800px) {
//     .embed-video h2 {
//         min-height: 80px
//     }
// }
// .embed-video .video {
//     position: relative
// }
// .embed-video img {
//     cursor: pointer;
//     position: relative;
//     z-index: 31;
//     width: 100%;
//     height: auto;
//     display: block
// }
// .embed-video .play {
//     width: 72px;
//     height: 72px;
//     margin-top: -36px;
//     margin-left: -36px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     z-index: 32;
//     cursor: pointer
// }
// .embed-video .caption {
//     position: relative;
//     overflow: hidden;
//     display: inline-block
// }
// .embed-video .caption h6 {
//     border-bottom: 2px solid #bec8d2;
//     padding: 20px 0
// }
// @media (min-width: 1160px) {
//     .embed-video .caption {
//         position: absolute;
//         bottom: 0;
//         right: 0
//     }
//     .embed-video .caption .caption-text {
//         display: block
//     }
//     .embed-video .caption h6 {
//         border-bottom: 0;
//         padding: 0
//     }
//     .embed-video .caption h6:after {
//         content: none
//     }
//     .embed-video .caption p {
//         margin-bottom: 0
//     }
// }
// .embed-video .video-c2a {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: auto;
//     background: rgba(0, 17, 53, 0.9);
//     opacity: 0
// }
// .embed-video .video-c2a .c2a-link {
//     -webkit-transform: translateY(-50%);
//     -moz-transform: translateY(-50%);
//     -ms-transform: translateY(-50%);
//     -o-transform: translateY(-50%);
//     transform: translateY(-50%);
//     position: relative;
//     top: 50%;
//     display: block;
//     padding: 0 10%
// }
// .lt-ie9 .embed-video .video-c2a .c2a-link {
//     top: 0
// }

// .embed-video .video-c2a h2 a {
//     color: #fff
// }
// .embed-video .video-c2a .close-button {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     width: 40px;
//     height: 40px;
//     cursor: pointer;
//     background: url("../../../images/components/close.png") no-repeat
// }
// .embed-video iframe {
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 10
// }