// BACKGROUND COLORS
.bg-nokia-blue {
    background-color: $nokia-blue;
}
.bg-black {
    background-color: $black;
}
.bg-blue-black {
    background-color: $blue-black;
}
.bg-light-blue {
    background-color: $light-blue;
}
.bg-green {
    background-color: $green;
}
.bg-gray-0 {
    background-color: $gray-0;
    color: $gray-4 !important;
}
.bg-gray-1 {
    background-color: $gray-1;
    color: $gray-4 !important;
}
.bg-gray-2 {
    background-color: $gray-2;
}
.bg-gray-3 {
    background-color: $gray-3;
}
.bg-gray-4 {
    background-color: $gray-4;
}
.bg-gray-5 {
    background-color: $gray-5;
}
.bg-gray-6 {
    background-color: $gray-6;
    color: $white;
}

// FONT COLORS
.color-nokia-blue,
.uxg-b2c .color-nokia-blue {
    color: $nokia-blue;
}
.color-blue-black,
.uxg-b2c .color-blue-black {
    color: $blue-black;
}
.color-light-blue,
.uxg-b2c .color-light-blue {
    color: $light-blue;
}
.color-green,
.uxg-b2c .color-green {
    color: $green;
}
.color-white,
.uxg-b2c .color-white {
    color: $white;
}
.color-gray-0,
.uxg-b2c .color-gray-0 {
    color: $gray-0;
}
.color-gray-1,
.uxg-b2c .color-gray-1 {
    color: $gray-1;
}
.color-gray-2,
.uxg-b2c .color-gray-2 {
    color: $gray-2;
}
.color-gray-3,
.uxg-b2c .color-gray-3 {
    color: $gray-3;
}
.color-gray-4,
.uxg-b2c .color-gray-4 {
    color: $gray-4;
}
.color-gray-5,
.uxg-b2c .color-gray-5 {
    color: $gray-5;
}

// GRID SYSTEM
// body header .inner,
// body main:not(.uxg-b2c):not(.full-width),
// body .header-wrapper .inner,
body .grid-container {
// body .footer-wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0 22px 20px 22px;

    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    // width: 1600px
}
// body header .inner:after,
// body main:not(.uxg-b2c):not(.full-width):after,
// body .header-wrapper .inner:after,
body .grid-container:after {
// body .footer-wrapper:after {
    content: " ";
    display: block;
    clear: both
}
@media (min-width:600px) {
    // body header .inner,
    // body main:not(.uxg-b2c):not(.full-width),
    // body .header-wrapper .inner,
    body .grid-container {
    // body .footer-wrapper {
        padding-right: 32px;
        padding-left: 32px
    }
}
@media (min-width:800px) {
    // body header .inner,
    // body main:not(.uxg-b2c):not(.full-width),
    // body .header-wrapper .inner,
    body .grid-container {
    // body .footer-wrapper {
        padding-right: 60px;
        padding-left: 60px
    }
}
@media (min-width:1160px) {
    // body header .inner,
    // body main:not(.uxg-b2c):not(.full-width),
    // body .header-wrapper .inner,
    body .grid-container {
    // body .footer-wrapper {
        padding-left: 80px;
        padding-right: 80px
    }
}
