// COLORS
$nokia-blue: #124191;
$white: #fff;
$black: #000;
$blue-black: #001135;
$light-blue: #00c9ff;
$green: #4bdd33;
$gray-0: #f4f4f4;
$gray-1: #edf3f5;
$gray-2: #bec8d2;
$gray-3: #98a2ae;
$gray-4: #4d5766;
$gray-5: #273142;
$gray-6: #0d1e29;
$red: #FF3154;
