<div class="blog__body">

    <div class="grid-container">

        <div class="blog__topics-nav">
            <ul>
                <li>
                    <a href="#">
                        All
                    </a>
                </li>
                <li>
                    <a href="/resources/topic/ebooks">
                        Ebooks
                    </a>
                </li>
                <li>
                    <a href="/resources/topic/webinars">
                        Webinars
                    </a>
                </li>
                <li>
                    <a href="/resources/topic/studies">
                        Studies
                    </a>
                </li>
                <li>
                    <a href="/resources/topic/videos">
                        Videos
                    </a>
                </li>
            </ul>
        </div>

        <div class="blog-card__container">

            {% for content in contents %}

                {% if loop.index == 3 %}
                    <div class="blog-card__wrap">

                        <a class="blog-card blog-card--cta" href="#">

                            <span class="blog-card__content">

                                <p class="label">
                                    Download now
                                </p>

                                <p class="ll-size">
                                    Conducting our business with integrity
                                </p>

                            </span>

                        </a>

                    </div>
                {% elif loop.index == 7 %}

                {% else %}
                <div class="blog-card__wrap">

                    <div class="blog-card">

                        <div class="blog-card__photo" style="background-image: url('{{ content.widgets.listing_img.body.src }}')">  

                        </div>


                        <div class="blog-card__content">

                            <p class="label">
                                {{ content.publish_date_localized }}
                            </p>

                            <h4>
                                <a href="{{ content.widgets.lp_url.body.value }}">
                                    {{ content.name }}
                                </a>
                            </h4>



                        </div>

                        <a class="arrow-link icon-gray-2" href="{{ content.widgets.lp_url.body.value }}">
                            &nbsp;
                        </a>

                    </div>

                </div>
                {% endif %}

            {% endfor %}

       </div>

    </div>

</div>
