<div class="logos">

    <div class="grid-container">

        <h2 class="color-nokia-blue">
            {{ widget.header }}
        </h2>           

        <div class="logos__inner">

            {% if widget.logo_1_image.src %}
            <a href="{{ widget.logo_1_url }}" target="_blank" class="logos__block">
                <img class="logos__img" src="{{ widget.logo_1_image.src }}" alt="{{ widget.logo_1_image.alt }}">
            </a>
            {% endif %}

            {% if widget.logo_2_image.src %}
            <a href="{{ widget.logo_2_url }}" target="_blank" class="logos__block">
                <img class="logos__img" src="{{ widget.logo_2_image.src }}" alt="{{ widget.logo_2_image.alt }}">
            </a>
            {% endif %}

            {% if widget.logo_3_image.src %}
            <a href="{{ widget.logo_3_url }}" target="_blank" class="logos__block">
                <img class="logos__img" src="{{ widget.logo_3_image.src }}" alt="{{ widget.logo_3_image.alt }}">
            </a>
            {% endif %}

            {% if widget.logo_4_image.src %}
            <a href="{{ widget.logo_4_url }}" target="_blank" class="logos__block">
                <img class="logos__img" src="{{ widget.logo_4_image.src }}" alt="{{ widget.logo_4_image.alt }}">
            </a>
            {% endif %}

            {% if widget.logo_5_image.src %}
            <a href="{{ widget.logo_5_url }}" target="_blank" class="logos__block">
                <img class="logos__img" src="{{ widget.logo_5_image.src }}" alt="{{ widget.logo_5_image.alt }}">
            </a>
            {% endif %}

        </div>

    </div>

</div>
