<div class="hero__wrap {% if widget.background_image.src %}hero__wrap--bg{% endif %} {{ widget.special_formatting }}" {% if widget.background_image.src %}style="background-image: url('{{ widget.background_image.src }}')"{% endif %} id="{{ widget.anchor }}">

    <div class="grid-container">

        <div class="hero__inner {% if widget.sidebar_image.src %}hero__inner--with-img{% endif %} {% if widget.text_orientation|lower == 'right' %}hero__inner--text-right{% else %}hero__inner--text-left{% endif %}">

            {% if widget.sidebar_image.src %}
            <div class="hero__img">
                <img src="{{ widget.sidebar_image.src }}" alt="{{ widget.sidebar_image.alt }}">
            </div>
            {% endif %}

            <div class="hero__text {% if widget.text_width|lower =='full' %}hero__text--full{% elif widget.text_width|lower =='large' %}hero__text--large{% else %}hero__text--standard{% endif %}">

                {% if widget.header %}
                <{{ widget.title_text }} class="hero__head {% if widget.background_image.src %}color-white{% else %}color-nokia-blue{% endif %}">
                    {{ widget.header }}
                </{{ widget.title_text }}>
                {% endif %}

                {% if widget.subheader %}
                <p class="hero__subhead l-size {% if widget.background_image.src %}color-white{% else %}color-gray-5{% endif %}">{{ widget.subheader }}</p> 
                {% endif %}

                {% if widget.description %}
                <div class="hero__desc {% if widget.background_image.src %}color-white{% else %}color-gray-5{% endif %}">
                    {{ widget.description }}
                </div>
                {% endif %}

                {% if widget.quote %}
                <div class="hero__quote {% if widget.background_image.src %}color-white{% else %}color-gray-5{% endif %}">
                    {{ widget.quote }}
                </div>
                {% endif %}

                {% if widget.cta_copy %}
                <a class="btn {% if not widget.background_image.src %}btn--dark{% endif %}" href="{{ widget.cta_url }}">
                    {{ widget.cta_copy }}
                </a>
                {% endif %}

            </div>

        </div>

    </div> 

</div>
